<section id="new-post">
    
    <div class="container bg-white">
        <header>
            <h2>프로젝트 작성하기</h2>
        </header>
        <hr>
        <%= render 'form' %>
    </div>
</section>

<script type="text/javascript">
    var height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    var elm = document.getElementById('new-post');
    elm.style.height = height + 'px';
</script>